<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/prime']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PRIMENG</a>
  <a [routerLink]="['/phaser']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PHASER</a>
</nav>
